.js-edit-job {
    cursor: pointer;
}

.job-item {
    margin-bottom: 2px;
    &:hover {
        background-color: #eee;
    }
    .controls {
        min-width: 85px;
        display: inline-block;
    }
}

@-webkit-keyframes fadeInJobItem { from { background-color: #ff0;  } to { opacity:1; } }
@-moz-keyframes fadeInJobItem { from { background-color: #ff0; } to { opacity:1; } }
@keyframes fadeInJobItem { from { background-color: #ff0;  } to { opacity:1; } }

.fade-in-job-item {
    opacity: 0;  /* make things invisible upon start */
    -webkit-animation: fadeInJobItem ease-in 1;
    -moz-animation: fadeInJobItem ease-in 1;
    animation: fadeInJobItem ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    animation-duration: 0.4s;
}

.job-details-json {
    white-space: pre-wrap;
    font-family: monospace;
}

.json-key {
  font-weight: bold;
}

.json-string {
  color: green;
}

.json-boolean, .json-null, json-number {
  color: blue;
}
